<footer class="footer">
    <div class="footer__grid">
        <!-- Contact Card -->
        <mat-card class="footer__card footer__card--contact">
            <mat-card-header class="footer__card-header">
                <mat-card-title class="footer__card-title">Contacto</mat-card-title>
            </mat-card-header>
            <mat-card-content class="footer__card-content">
                <div class="footer__contact-link" *ngFor="let option of contactData.options" title={{option.value}}>
                    <i-tabler class="footer__icon" name={{option.icon}}></i-tabler>
                    <a class="footer__info-text" href={{option.refValue}} target="_blank">{{option.value}}</a>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Social Card -->
        <mat-card class="footer__card footer__card--social">
            <mat-card-header class="footer__card-header">
                <mat-card-title class="footer__card-title">Redes Sociales</mat-card-title>
            </mat-card-header>
            <mat-card-content class="footer__card-content footer__card-content--social">
                <div class="footer__social-link" *ngFor="let option of rrssData.options">
                    <a class="footer__social-link" href={{option.url}} target="_blank">
                        <i-tabler class="footer__icon footer__icon-{{option.name.toLowerCase()}}" name={{option.icon}}
                            title="{{option.name}}"></i-tabler>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Schedule Card -->
        <mat-card class="footer__card footer__card--schedule">
            <mat-card-header class="footer__card-header">
                <mat-card-title class="footer__card-title">Horario</mat-card-title>
            </mat-card-header>
            <mat-card-content class="footer__card-content">
                <p class="footer__info-text footer__info-text--schedule">Lunes a Miércoles: 11:00 - 17:00</p>
                <p class="footer__info-text footer__info-text--schedule">Jueves a Sábado: 11:00 - 17:00 | 20:00 - 24:00
                </p>
                <p class="footer__info-text footer__info-text--schedule">Domingo: 11:00 - 17:00</p>
                <p class="footer__info-text footer__info-text--schedule">* Martes cerrado por descanso *</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="footer__credits">
        <p class="footer__credits-text">©2024 MiMo Restaurante</p>
        <p class="footer__credits-text">
            Web Design by <a class="footer__credits-link" href={{authorData.url}}
                target="_blank">{{authorData.name}}</a>
        </p>
    </div>
</footer>