<app-header class="header"></app-header>
<main class="main">
    <app-hero-view id="homeView" class="main__hero-view"></app-hero-view>
    <app-about-us-view id="aboutUsView" class="main__about-us-view"></app-about-us-view>
    <app-menu-view id="menuView" class="main__menu-view"></app-menu-view>
    <app-gallery-view id="galleryView" class="main__gallery-view"></app-gallery-view>
    <app-reviews-view id="reviewsView" class="main__reviews-view"></app-reviews-view>
    <app-contact-view id="contactView" class="main__contact-view"></app-contact-view>
</main>
<app-footer class="footer"></app-footer>
