<app-header class="header"></app-header>
<main class="main">
    <app-hero-view class="main__hero-view"></app-hero-view>
    <app-about-us-view class="main__about-us-view"></app-about-us-view>
    <app-menu-view class="main__menu-view"></app-menu-view>
    <app-gallery-view class="main__gallery-view"></app-gallery-view>
    <app-reviews-view class="main__reviews-view"></app-reviews-view>
    <app-contact-view class="main__contact-view"></app-contact-view>
</main>
<app-footer class="footer"></app-footer>
