<header class="header">
    <div class="header__logo-container">
        <img src="assets/brand-logo.png" alt="Mimo Restaurant" class="header__logo">
    </div>
    <mat-toolbar class="header__toolbar">
        <button mat-button routerLink="/home" class="header__button">Home</button>
        <button mat-button routerLink="/about-us" class="header__button">About Us</button>
        <button mat-button routerLink="/menu" class="header__button">Menu</button>
        <button mat-button routerLink="/gallery" class="header__button">Gallery</button>
        <button mat-button routerLink="/reviews" class="header__button">Reviews</button>
        <button mat-button routerLink="/contact" class="header__button">Contact</button>
    </mat-toolbar>
</header>