<header class="header">
    <div class="header__logo-container">
        <img src="assets/brand-logo.png" alt="Mimo Restaurant" class="header__logo">
    </div>
    <ng-container *ngIf="screen_size_service.isLargeScreen$ | async; else mobileHeader">
        <!-- Desktop Header Content -->
        <mat-toolbar class="header__toolbar">
            <button mat-button routerLink="/home" class="header__button">Home</button>
            <button mat-button routerLink="/about-us" class="header__button">About Us</button>
            <button mat-button routerLink="/menu" class="header__button">Menu</button>
            <button mat-button routerLink="/gallery" class="header__button">Gallery</button>
            <button mat-button routerLink="/reviews" class="header__button">Reviews</button>
            <button mat-button routerLink="/contact" class="header__button">Contact</button>
        </mat-toolbar>
    </ng-container>
    <ng-template #mobileHeader>
        <mat-toolbar class="header__toolbar header__toolbar--mobile">
            <ng-container *ngIf="!isMenuVisible; else closeIcon">
                <i-tabler name="menu-2" class="header__icon header__icon--menu" (click)="toggleMenu()"></i-tabler>
            </ng-container>
            <ng-template #closeIcon>
                <i-tabler name="X" class="header__icon header__icon--close" (click)="toggleMenu()"></i-tabler>
            </ng-template>
        </mat-toolbar>
        <!-- Dropdown Menu -->
        <div *ngIf="isMenuVisible" class="header__dropdown-menu">
            <button mat-button routerLink="/home" class="header__button">Home</button>
            <button mat-button routerLink="/about-us" class="header__button">About Us</button>
            <button mat-button routerLink="/menu" class="header__button">Menu</button>
            <button mat-button routerLink="/gallery" class="header__button">Gallery</button>
            <button mat-button routerLink="/reviews" class="header__button">Reviews</button>
            <button mat-button routerLink="/contact" class="header__button">Contact</button>
        </div>
    </ng-template>
    
</header>