<mat-card class="hero-view">
    <img mat-card-image class="hero-view__image" src="../../../../assets/hero-section-image.png" alt="Hero Image">
    <mat-card-content class="hero-view__content">
        <h1 class="hero-view__title">MiMo</h1>
        <p class="hero-view__subtitle">ARTE & COCINA</p>
        <button mat-raised-button class="hero-view__cta-button">
            <i-tabler name="phone"></i-tabler>
            <span class="hero-view__cta-button-text">Reservar</span>
        </button>
    </mat-card-content>
</mat-card>